.env
.env.*
!.env.example
node_modules/
dist/
coverage/
storage/
*.fdb
*.FDB
*.gbk
*.GBK
*.fbk
*.FBK
*.gz
*.GZ
*.zip
*.7z
*.rar
*.log
.DS_Store
!docker/firebird25/FirebirdCS-2.5.9.27139-0.amd64.tar.gz
!docker/firebird25/template.fdb
